.btncolor{
  background-color: #fd7e14;
}

.row{
  width: 100%;
  background-color: #727272;
}

.navbar-icon{
  /* min-height: 50px; */
  /* padding: 0 15px 5px; */
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.navbar{
  height: 75px;
}

.material-icons{
  vertical-align: -5px;
  font-size: 1.45rem;
}

/* .navbar-brand{
  font-size: 1.4em;
} */

.nav-item{
  /* font-size: 1.6rem; */
  /* padding-bottom: 5px; */
}

.btn{
  /* font-size: 1.4rem; */
  width: 100px;
  height: 50px;
}

.text{
  padding-top: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #003171;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(0, 110, 255);
}
