<!-- <nav class="navbar navbar-dark mb-5" style="background-color: #1560BD;">
    <div class="navbar-expand mr-auto navbar-nav">
      <div class="navbar-nav">
        <ul class="nav navbar-nav navbar-left">
          <img class="navbar-icon" src="https://www.img.in.th/images/719cbf0c22a6ac7a415c43a78590f1e3.png">
          <a class="text" style="color: #1560BD">|</a>
          <a class="text" style="color: #1560BD">|</a>
          <a class="navbar-brand" href="#">Beef Quality Grading System</a>


        </ul>
      </div>
    </div>
    <div class="navbar-expand mr-auto navbar-nav">
      <div class="navbar-nav">
        <ul class="nav navbar-nav navbar-center">
          <a class="text" style="color: #ffffff">|</a>
          <a routerLink="/dashboard" class="nav-item nav-link active" href="/dashboard">Home</a>
          <a class="text" style="color: #ffffff">|</a>
          <a routerLink="/grading" class="nav-item nav-link active" href="/grading">Grading</a>
          <a class="text" style="color: #ffffff">|</a>
          <a routerLink="/aboutcow" class="nav-item nav-link active" href="/aboutcow">AboutCow</a>
          <a class="text" style="color: #ffffff">|</a>
        </ul>
      </div>
    </div>


    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <ul class="nav navbar-nav navbar-right">

          <div class="button">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter1">
              Sign in
            </button>

            <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Sign in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter2" data-dismiss="modal">Register</button>
                    <button type="button" class="btn btncolor" style="color: #fff" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Login</button>
                  </div>
                </div>
              </div>
            </div>

            <a class="text" style="color: #1560BD">|</a>


            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter2">
              Register
            </button>

            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col">
                            <label for="exampleInputPassword1">First name</label>
                            <input type="text" class="form-control" placeholder="First name">
                          </div>
                          <div class="col">
                            <label for="exampleInputPassword1">Last name</label>
                            <input type="text" class="form-control" placeholder="Last name">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Address</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Address">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Tel</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Tel">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btncolor" style="color: #fff" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Registor</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav> -->

<nav class="navbar navbar-expand-xl navbar-dark fixed-top " style="background-color: #003171;">
  <div class="container-fluid">

    <a href="/"><img class="navbar-icon" src="https://www.img.in.th/images/c9d93cbbec4c3cd936ff4dd4d1c56dff.png"></a>
    <a class="navbar-brand text" href="/"><h2><b>ระบบการตัดเกรดเนื้อโค</b></h2></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarshead" aria-controls="navbarshead" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse inline-block " id="navbarshead">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-item nav-link" href="dashboard"><h4><i class="material-icons" style="margin-right: 5px">home</i><b>หน้าแรก</b></h4></a>
        </li>
        <li class="nav-item active">
          <a class="nav-item nav-link" href="aboutcattle"><h4><i class="material-icons" style="margin-right: 5px">format_list_bulleted</i><b>รายการซากโค</b></h4></a>
        </li>
        <li class="nav-item ">
          <a class="nav-item nav-link" href="grading"><h4>-ตัดเกรด-</h4></a>
        </li>
        <li class="nav-item ">
          <a class="nav-item nav-link" href="graded"><h4>-บันทึกเกรด-</h4></a>
        </li>
        <li class="nav-item active">
          <a class="nav-item nav-link" href="readycut"><h4><i class="material-icons" style="margin-right: 5px">playlist_add_check</i><b>ตัดเกรดซากโค</b></h4></a>
        </li>
        <li class="nav-item active">
          <a class="nav-item nav-link" href="sumgrade"><h4><i class="material-icons" style="margin-right: 5px">assignment_turned_in</i><b>สรุปเกรด</b></h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="summarred"><h4>-สรุป-</h4></a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="sumshow"><h4>-แสดงสรุปเกรด-</h4></a>
          </li>
        <li class="nav-item active">
          <a class="nav-item nav-link" href="history"><h4><i class="material-icons" style="margin-right: 5px">history</i><b>ประวัติการตัดเกรด</b></h4></a>
        </li>
        <li class="nav-item ">
          <a class="nav-item nav-link" href="report"><h4>-ออกรายงาน-</h4></a>
        </li>
      </ul>

      <div class="navbar-expand-ml navbar-nav">
        <div class="navbar-nav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-item nav-link" href="login"><h4><i class="material-icons" style="margin-right: 5px">assignment_ind</i><b>เข้าสู่ระบบ</b></h4></a>
            </li>
            <li class="nav-item active">
              <a class="nav-item nav-link" href="register"><h4><i class="material-icons" style="margin-right: 5px">group_add</i><b>สมัครสมาชิก</b></h4></a>
            </li>
          </ul>
          <div class="button">
              <!-- Button trigger modal -->
              <!-- <button type="button" class="btn btn-success " style="margin-right: 10px" data-toggle="modal" data-target="#exampleModalCenter1">
                <h4><b>Sign in</b></h4>
              </button> -->

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalCenterTitle"><b>Sign in</b></h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1"><h5>Remember me</h5></label>
                        </div>
                        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btncolor" style="color: #fff" data-dismiss="modal"><h4><b>Cancel</b></h4></button>
                      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter2" data-dismiss="modal"><h4><b>Register</b></h4></button>
                      <button type="button" class="btn btn-primary"><h4><b>Login</b></h4></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- &nbsp; -->
              <!-- <a class="text" style="color: #003171">|</a> -->
              <!-- <a class="text" style="color: #1560BD">|</a> -->

              <!-- Button trigger modal -->
              <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter2">
                <h4><b>Register</b></h4>
              </button> -->

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalCenterTitle"><b>Register</b></h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col">
                              <label for="exampleInputPassword1">First name</label>
                              <input type="text" class="form-control" placeholder="First name">
                            </div>
                            <div class="col">
                              <label for="exampleInputPassword1">Last name</label>
                              <input type="text" class="form-control" placeholder="Last name">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Address</label>
                          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Address">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Tel</label>
                          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Tel">
                        </div>
                        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btncolor" style="color: #ffffff" data-dismiss="modal"><h4><b>Cancel</b></h4></button>
                      <button type="button" class="btn btn-primary"><h4><b>Registor</b></h4></button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
