<body>
  <div class="main">
    <div class="container text-center">
      <p><img class="imgiconbrand" src="https://www.img.in.th/images/c9d93cbbec4c3cd936ff4dd4d1c56dff.png"></p>
    </div>
    <div class="container jumbotron jumdash text-center">
      <form>
        <div class="form-group">
          <h1 class="textbrand"><b>Beef Quality Grading System</b></h1>
          <h4 class="textbrandth"><b>ระบบการตัดเกรดเนื้อโค</b></h4>
          <button routerLink="/aboutcattle" type="button" class="btn btn-light ">
            <h3><b>Start Grading</b><i class="fa fa-arrow-circle-right" style="margin-left: 5px"></i></h3>
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
